*, *::after, *::before{
    margin: 0;
    padding: 0;

}

:root{
    --color-1: rgb(52, 59, 85);
    --color-2: rgb(129, 132, 134);
    --color-3: rgb(115, 87, 246);
    --color-4: rgb(92, 65, 209);
    --color-5: rgb(89, 95, 117);
    --color-6: rgb(238, 242, 251); 
    --color-7: rgb(255, 255, 255); 
    --color-8: rgb(0, 0, 0); 
    --color-9: rgb(126, 147, 176); 
    --font-zise-1: 12px;
    --font-zise-2: 14px;
    --font-zise-3: 15px;
    --font-zise-4: 16px;
    --font-zise-5: 18px;
    --font-zise-6: 20px;
    --font-zise-7: 42px;
    --styles-form-1: "DM Sans";
    --styles-form-2: "DM Serif Text";
    --styles-form-3: "Kalam";

}


/*Seccion-1*/

.section-1{
    display: grid;
    grid-template-columns: 1fr ;

}

.box-1{
    width: 100%;
    position: relative;
    background-color: var(--color-6);
    
    
}

header{
    width: 100%;
    text-align: center;
    padding-top: 10px;
    margin-bottom: 20px;
    
    
}

header img{
    display: inline;
    vertical-align: middle;
    width: 60px;
    height: 40px;
    
}

header h1{
    display: inline;
    font-size: var(--font-zise-3);
    color: var(--color-1);
    font-family: var(--styles-form-1);
}

.box-1-p-1{
  text-align: center;
  font-weight: 400;
  font-size: var(--font-zise-7);
  color: var(--color-1);
  font-family: var(--styles-form-2);
  margin-bottom: 10px;
  padding: 0 20px;
  


}

.box-1-p-2{
    text-align: center;
    font-size: var(--font-zise-6);
    color: var(--color-2);
    font-weight: 700;
    font-family: var(--styles-form-1);
    padding: 0 50px;
}

.box-1-arrow{
    position: absolute;
    right: 8%;
}

.box-1 a{
    width: 250px;
    height: 40px;
    background-color: var(--color-3);  
    margin: 0 auto;
    display: block;
    margin-top: 50px;
    padding-top: 20px;
    text-align: center;
    border-radius: 100px;
    color: var(--color-7);
    text-decoration: none;
    transition:  0.3s ease-in-out;
}

.box-1 a:hover{
    background-color: var(--color-4);
}

.box-1-p-3{
    text-align: center;
    font-family: var(--styles-form-1);
    font-weight: 400;
    font-size: var(--font-zise-1);
}

.box-1-1{
    width: 100%;
    position: relative;
    background-color: var(--color-6);
    padding-top: 20px;
    
}

.box-1-1-main-img{
    display: block;
    margin: 0 auto;
}

.box-1-1-p-1{
    position: absolute;
    font-family: var(--styles-form-3);
    top: 15%;
    left: 3%;
    
}
.box-1-1-p-2{
    position: absolute;
    font-family: var(--styles-form-3);
    top: 18%;
    left: 3%;
    width: 170px;
}

.box-1-1-informative-box{
    width: 175px;
    height: 60px;
    background-color: var(--color-7);
    position: absolute;
    border-radius: 10px;
    box-shadow: 0 0 10px 1px rgb(187, 184, 184);
    display: flex;
    text-align: center;
    justify-content: center;

}

.box-1-1-informative-box-1-position{
    top: 40%;
    left: 5%;
}

.box-1-1-informative-box-2-position{
    top: 65%;
    left: 20%;
}

.box-1-1-informative-box-img{
    width: 50px;
    height: 50px;
    margin-top: 2px;
}

.box-1-1-informative-box-1-div-text-p-1{
  font-weight: 500;
  font-family: var(--styles-form-1);
  font-size: var(--font-zise-2);
  color: var(--color-8s);
  margin-top: 15px;

}

.box-1-1-informative-box-1-div-text-p-2{
    color: var(--color-9);
    font-family: var(--styles-form-1);
    font-size: var(--font-zise-1);
    font-weight: 500;
    margin-top: 5px;

}

/*Fin-de-la-Seccion-1*/